h1, h2 {
  color: #333;
}

nav a {
  text-decoration: none;
  color: #007bff;
}

nav a:hover {
  text-decoration: underline;
}

article {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}


footer {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
}
